.row {
  width: 100%;
}

.rowHeader {
  margin-bottom: 16px;
  color: white;
  padding-left: 5px;
}

.subtitle {
  margin-top: -10px;
  font-size: 0.875rem;
  color: #6a6a6a;
  padding-left: 5px;
}

.rowContent {
  padding: 5px 4px;
  display: flex;
  gap: 18px;
  width: 100%;
  overflow: hidden;
}
