.hat {
  width: 100%;
  display: flex;
  .topResultContainer {
    width: 27%;

    .topResult {
      height: 240px;
      background: red;
      margin-bottom: 34px;
      margin-right: 32px;
      padding: 20px;
    
      .topResult__image {
        
      }

      .topResult__content {
        
      }
    }
}
}

.header {
  color: white;
}

.songsBlockContainer {
  width: 70%;
  position: relative;
  .songsBlock {
    width: 100%;
    height: 100%;
    padding-top: 12px;
  } 
}
