.blockProfileDescription {
  display: flex;
  flex-direction: row;
  background-image: linear-gradient(to top, #28292b, #353a3d, #444d4c, #565f5a, #6e7167);
}
.descriptionProfile {
  color: white;
  font-weight: 600;
}
.userNameProfile{
  font-size: 60px;
}
