.wrapper {
  width: 100%;
}

.searchTag {
  border: 0;
  display: inline-block;
  border-radius: 32px;
  text-align: center;
  padding: 0px 12px;
  height: 32px;
  user-select: none;
  cursor: pointer;
  color: white;
  line-height: 32px;
  text-transform: capitalize;
  background: #ffffff12;
  &:hover {
    background: #ffffff33;
  }
}

.tags {
  display: flex;
  padding: 10px 0;
  gap: 5px;
  margin: 2%;
}
