:global(.ant-menu-item-selected) {
 background-color: #121212 !important; 
}

:global(.ant-layout-sider-children) {
  background-color: #000;
  height: 100% !important;
}

.titleBlock {
  margin: 24px 18px;
  display: flex;
  align-items: center;
  height: 40px;
  p {
    display: block;
    height: 35px;
    padding-left: 6px;
  }
  svg {
    flex-basis: 20%;
  }
}

.menuItemCreate {
  background: red;
  margin-top: 20px;
}

@media (max-width: 575px) {
  .titleBlock p {
    display: none;
  }
  .titleBlock svg {
    flex-basis: 80%;
  }
}