.wrapper {
  width: 100%;
}
.artistName {
  font-weight: 600;
  font-size: 60px;
}
.blockTop {
  display: flex;
  // flex-direction: column;
  padding: 2%;
  color: white;
  // background: blue;
  background-image: linear-gradient(to top, #0000ef68, #000ea978, #0f007e95, #01014ea0, #010628);
}
.artistAlbum {
    padding: 2%;
    color: white;
    display: flex;
    flex-direction: column;
}
.cardAlbum {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.artistFollowers {
    font-weight: 600;
    font-size: 20;
}

.picture {
  width: 200px;
  height: 200px;
  // background: blueviolet;
  background-image: linear-gradient(to top, #9300ef68, #7600a978, #47007e95, #31014ea0, #190128);
}