.wrapper {
  width: 100%;
}
.artistName {
  font-weight: 600;
  font-size: 60px;
}
.blockTop {
  display: flex;
  // flex-direction: column;
  padding: 2%;
  color: white;
  // background: blue;
  background-image: linear-gradient(to top, #0000ef68, #000ea978, #0f007e95, #01014ea0, #010628);
}
.artistAlbum {
    padding: 2%;
    color: white;
    display: flex;
    flex-direction: column;
}
.cardAlbum {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.artistFollowers {
    font-weight: 600;
    font-size: 20;
}

.picture {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to top, #00cbef68, #007ca978, #00587e95, #01374ea0, #0136468b);
}

.heartFilled {
  font-size: 64px;
}