.songBlockContainer {
  width: 300px;
  display: flex;
  align-items: center;
  gap: 15px;
}

.songName {
  margin: 0;
  font-size: 0.9rem;
  font-weight: 600;
}

.artistName {
  margin: 0;
  font-size: 0.7rem;
}

.playerContainer{
  display: flex;
  justify-content: space-between;
  gap: 25px;
}

.songInteractionContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.progressBarWrapper {
  display: flex;
  gap: 10px;
  align-items: center;
}

.progressBarContainer {
  width: 100%;
  cursor: pointer;
}

.controlsContainer {
  width: 550px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.start,
.duration {
  font-size: 0.7rem;
  padding-bottom: 5px;
}

.buttonsContainer {
  margin: auto;
  display: flex;
  align-items: center;
  gap: 15px;
}

.volumeBlockContainer {
  width: 170px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin-left: 80px;
}

@media only screen and (max-width: 1080px) {
  .volumeBlockContainer {
    gap: 15px;
    margin-left: 0;
  }
}

.volumeSliderContainer {
  width: 100px;
  padding-top: 4px;
}

.playPauseButton {
  font-size: 32px;
  transition: 0.2s;
  cursor: pointer;
}

.playPauseButton:active {
  transform: translateY(2px);
}

.progressBar:hover {
  cursor: pointer;
}

.nextPrevButton {
  font-size: 22px;
  transition: 0.2s;
}

.nextPrevButton:active {
  transform: translateY(2px);
}
