.detailsContentContainer {
  display: flex;
  flex-direction: column;
  background: rgb(30, 30, 30);
}
.trackName {
    font-size: 40px;
    font-weight: 600;
    color: white;
}
.descriptionAlbumTracks {
    color: white;
    padding: 1%;
}