.detailsContentContainer {
  display: flex;
  flex-direction: column;
  background: rgb(30, 30, 30);
}
.typeAlbum {
  text-transform: uppercase;
  font-weight: 600;
}
.albumName {
  font-size: 60px;
  font-weight: 600;
}
.descriptionAlbumTracks {
    color: black;
    padding: 1%;
    width: 54%;
}
.descriptionBottom {
  display: flex;
  gap: 2%;
  align-items: center;
}
.boxBlur {
  display: flex;
  flex-direction: row;
  margin-bottom: 2%;
  flex-wrap: wrap;
  padding: 2%;
  backdrop-filter: blur(4px);
  background: rgba(200, 255, 255, 0.4);
 }

.imageAlbum {
  min-width: 200px;
  min-height: 200px;
}
.tracksBlock {
  padding: 2%;
  margin-bottom: 15%;
}
.trackBlock {
  display: flex;
  gap: 2%;
  align-items: center;
  justify-content: space-between;
  color: white;
}
.artistDesc{
  display: flex;
  align-items: center;
}

.playPauseButton {
  color: #1ad760;
  font-size: 32px;
  transition: 0.2s;
}

.playPauseButton:active {
  transform: translateY(2px);
}