.detailsContentContainer {
  display: flex;
  flex-direction: column;
  background: rgb(30, 30, 30);
}
.typeAlbum {
  text-transform: uppercase;
  font-weight: 600;
}
.albumName {
  font-size: 60px;
  font-weight: 600;
}
.descriptionAlbumTracks {
    color: black;
    padding: 1%;
    width: 54%;
}
.descriptionBottom {
  display: flex;
  gap: 2%;
  align-items: center;
}
.boxBlur {
  display: flex;
  flex-direction: row;
  margin-bottom: 2%;
  flex-wrap: wrap;
  padding: 2%;
  backdrop-filter: blur(4px);
  background: rgba(200, 255, 255, 0.4);
 }

.imageAlbum {
  min-width: 200px;
  min-height: 200px;
}